body{
    margin: 0;
    padding: 0;
    background-color: #080c2a;
}
.manage-navbar{
    /* background-color: blue; */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    position: fixed;
    z-index: 999;
}
.manage-navbar .navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 40px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/* scrolled .navbar.scrolled */
.manage-navbar .navbar.scrolled {
    background: radial-gradient(circle at 0% 0%, #7300ff 50%, rgb(31, 19, 48) 150%);
    transition: .3s;
}
.manage-navbar .navbar .logo{
    background-color: rgba(153, 50, 204, 0);
    float: left;
}
.manage-navbar .navbar .logo img{
    width: 43px;
}
.manage-navbar .navbar .logo span{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.2px;
}
.manage-navbar .navbar .list-navbar{
    /* background-color: chartreuse; */
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
}
.manage-navbar .navbar .list-navbar ul{
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
}
.manage-navbar .navbar .list-navbar ul li{
    list-style: none;
    float: left;
    margin: 0;
}
.manage-navbar .navbar .list-navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin: 22px 15px 22px 15px;
    float: left;
}
.manage-navbar .navbar .list-navbar ul li a:hover{
    color: #e0e0e0;
}
.manage-navbar .navbar .list-navbar ul .list-icon-phone .bi-list{
    cursor: pointer;
}

/* Content Slider Style*/
.content-slide{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.box-slide{
    /* background-color: #7484ff; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.box-slide .slide{
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: #ff0000; */
}
.box-slide .slide .slide-img{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}
.box-slide .slide .slide-img img{
    width: 100%;
    filter: brightness(45%);
    height: 100%;	
    background-repeat: no-repeat;
    object-fit: cover;
}
.content-slide .box-slide .slide .slide-img .slide-text{
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.892);  */
    box-sizing: border-box;
    /* overflow: hidden; */
    transform: translate(-50%, -0%);
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
    padding: 30px 30px;
    margin-left: -12px;
    /* margin-top: 300px; */
    border-radius: 15px;
    /* backdrop-filter: blur(5px); */
    /* overflow: hidden; */
    box-sizing: border-box;
    /* position: relative; */
    max-width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-slide .box-slide .slide .slide-img .slide-text span{
    color: rgb(241, 241, 241);
    /* text-shadow: 0px 0px 30px #080c2abc; */
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-family: "Suwannaphum", serif, "Roboto", sans-serif;
    font-weight: 700;
    font-size: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-slide .slide .slide-img .slide-text .btn-read-more{
    padding-top: 35px;
    display: flex;
    /* background-color: #ffffff; */
}
.box-slide .slide .slide-img .slide-text .btn-read-more a{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.box-slide .slide .slide-img .slide-text .btn-read-more a span{
    font-size: 20px;
    background-color: #192477;
    /* border-radius: 6px; */
    margin-right: 15px;
    padding: 10px 40px;
    font-family: "Battabang", serif;
    display: inline-block;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient(circle at 100% 100%, #7000f9 0%, rgb(31, 19, 48) 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    border-radius: 0.3em;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.box-slide .slide .slide-img .slide-text .btn-read-more a span:hover{
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}
.box-slide .slide .slide-img .slide-text .btn-read-more a span:active{
    box-shadow: inset 0px 0.1em 0.6em #001eff7b;
    transform: translateY(0em);
}
.shadow-img-slide{
    background-color: #080c2a;
    position: absolute;
    width: 130%;
    height: 300px;
    left: -15%;
    bottom: -200px;
    filter: blur(70px);
}





/* Mnage Content Style CSS */
.manage-content{
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    height: auto;
}
.manage-content .content-center .title-content-category{
    font-size: 20px;
    /* background-color: #080c2a; */
    background: radial-gradient(circle at 0% 0%, #7300ff 50%, rgb(31, 19, 48) 150%);
    /* border: #151f68 solid 4px; */
    display: flex;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px 14px;
    margin-bottom: 30px;
    padding: 0;
}
.manage-content .title-content-category p{
    margin: 0;
    /* background-color: #001efff5; */
    padding: 15px 30px;
    font-weight: 600;
}
.manage-content .content-center{
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 0px;
    /* overflow: hidden; */
    /* background-color: chocolate; */
    height: auto;
    box-sizing: border-box;
    display: block;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
}
.bg-content{
    background: radial-gradient(circle at 100% 100%, #7300ff 0%, rgb(31, 19, 48) 100%);
    padding: 0px 0px 5px 0px;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    float: left;
    transition: 0.3s;
    cursor: pointer;
}
.manage-content .box-content{
    margin: 0;
    padding: 0px 15px;
    float: left;
    padding-bottom: 35px;
    cursor: pointer;
    /* overflow: hidden; */
    box-sizing: border-box;
}
.manage-content .box-content:nth-child(8){
    margin-right: 0px;
}
.manage-content .box-content .bg-content .img-content{
    height: 270px;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}
.manage-content .box-content .bg-content .img-content img{
    width: 100%;
    float: left;
    height: 100%;
    margin-top: -10px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(80%);
    transition: .2s;
}
.manage-content .box-content .bg-content:hover .img-content img{
    filter: brightness(100%);
}
.box-content .manage-title-content{
    margin: 0px 11px;
    /* background-color: coral; */
    overflow: hidden;
    box-sizing: border-box;
}
.box-content .manage-title-content .date-content{
    font-size: 13px;
}
.box-content .manage-title-content .title-content{
    display: block;
    font-family: "Roboto" sans-serif, "Battabang" sans-serif;
    overflow: hidden;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #00000000;
}
.box-content .manage-title-content .title-content span:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    float: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.9;	
    /* height: 75px; */
    /* background-color: #344cff; */
    box-sizing: border-box;
    margin-bottom: 5px;
}
.box-content .manage-title-content .title-content span:nth-child(2){
    border-top: #ffffffc4 2px solid;
    font-size: 14px;
    float: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #ffffffab;
    margin-bottom: 0;
    padding-top: 8px;
    
}
.box-content .manage-title-content .user-post{
    margin: 25px 0px 0px 0px; 
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Roboto" sans-serif, "Battabang" sans-serif;	
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffffff00;
    display: block;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    backdrop-filter: blur(20px);
    border: 3px solid #ffffff4b;
}
.box-content .manage-title-content .user-post p{
    margin: 0;
    font-size: 12px;
    float: left;
    padding: 0;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    color: #ffffffb9;
}
.box-content .manage-title-content .user-post a:nth-child(2){
    float: right;
    margin: 0;
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #ffffff;
}
.box-content .manage-title-content .user-post a:nth-child(2) i{
    color: #ffffff;
}
.box-content .manage-title-content .user-post p i{
    font-size: 17px;
    padding-right: 5px;
}








/* Manage Footer */
.manage-footer{
    background-color: rgb(58, 36, 90);
    margin: 0;
    /* padding: 0; */
    color: #ffffff;
    overflow: hidden;
    padding: 15px 0px;
    /* height: 100vh; */
}
.manage-footer .logo-footer{
    /* background-color: deeppink; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
}
.manage-footer .logo-footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    flex-direction: column;
}
.manage-footer .logo-footer img{
    width: 43px;
    margin-bottom: 5px;
}
.manage-footer .logo-footer span{
    font-size: 25px;
    font-weight: bold;
}
.manage-footer .footer-center{
    /* background-color: chocolate; */
    padding: 0px 50px;
    box-sizing: border-box;
    overflow: hidden;
}
.manage-footer .footer-center .box-footer{
    float: left;
    padding: 0px 30px 0px 30px;
    margin-bottom: 0px;
}
.manage-footer .footer-center .box-footer .title-footer span{
    font-size: 23px;
    position: relative;
    padding-bottom: 15px;
    display: block;
    margin-bottom: 15px;
}
.manage-footer .footer-center .box-footer .title-footer .location-center{
    text-align: center;
}
.manage-footer .footer-center .box-footer .title-footer span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0;
    width: 50%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.5s;
}
.manage-footer .footer-center .box-footer:nth-child(2) .title-footer span::before{
    width: 100%;
}
.manage-footer .footer-center .box-footer:hover .title-footer span::before{
    width: 100%;
    transition: 0.5s;
}
.manage-footer .footer-center .box-footer .title-footer p{
    line-height: 1.8;
    font-size: 17px;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address:nth-child(1){
    display: flex;
    align-items: flex-start;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address{
    /* background-color: chocolate; */
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    line-height: 1.8;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address a{
    color: #ffffff;
    text-decoration: none;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address a:hover{
    color: #d4afff;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address i{
    font-size: 17px;
    margin-right: 8px;
    padding: 0;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address span{
    font-size: 17px;
    border: none;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address a:hover span{
    transform: translateX(5px);
}
.manage-footer .footer-center .box-footer .title-footer .box-address .icon-address span::before{
    width: 0;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .social-media{
    display: flex;
    /* background-color: tomato; */
    margin: 0;
    padding: 0;
    overflow: auto;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .social-media::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .social-media a{
    padding: 0;
    margin: 0;
}
.manage-footer .footer-center .box-footer .title-footer .box-address .social-media i{
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    background: radial-gradient(circle at 0% 0%, #7300ff 50%, rgb(31, 19, 48) 150%);
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 6px;
}











/* Responsive Layout */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .manage-navbar .navbar .list-navbar ul li{
        display: none;
    }
    .content-slide .box-slide .slide .slide-img .slide-text{
        /* background-color: aliceblue; */
        left: 54%;
        top: 25%;
        transform: translate(-50%, -0%);
    }
    .content-slide .box-slide .slide .slide-img .slide-text span{
        font-size: 30px;
        font-weight: 500;
    }
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 100%;
        background-color: transparent;
    }
    .manage-content .box-content .bg-content .img-content{
        height: 350px;
    }
    .manage-navbar .navbar .list-navbar ul{
        float: right;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone{
        display: block;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone .bi-list{
        font-size: 25px;
    }
    .manage-navbar .navbar .logo img{
        width: 30px;
    }
    .manage-navbar .navbar .logo span{
        font-size: 15px;
    }
    .manage-content .content-center{
        padding-left: 10px;
        padding-right: 10px;
    }
    .manage-navbar .navbar {
        padding: 6px 25px;
    }
    .box-slide .slide .slide-img{
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .manage-footer .footer-center .box-footer .title-footer .location-center{
        text-align: left;
    }
    .manage-footer .footer-center .box-footer .title-footer .none-device i{
        display: none;
    }
    .manage-footer .footer-center .box-footer .title-footer span{
        font-size: 20px;
    }
    .manage-footer .footer-center .box-footer{
        background-color: rgba(0, 0, 0, 0.13);
        margin-bottom: 20px;
        padding: 25px 30px;
        border-radius: 20px;
    }
    .manage-footer .footer-center .box-footer:nth-child(2) .title-footer .location-center::before{
        width: 50%;
    }
    .manage-footer .footer-center .box-footer:hover .title-footer .location-center::before{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content-slide .box-slide .slide .slide-img .slide-text{
        /* background-color: aliceblue; */
        left: 53%;
        top: 25%;
    }
    .content-slide .box-slide .slide .slide-img .slide-text span{
        font-size: 40px;
        font-weight: 600;
    }
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 90%;
        background-color: transparent;
    }
    .manage-content .box-content .bg-content .img-content{
        height: 400px;
    }
    .manage-navbar .navbar .list-navbar ul li{
        display: none;    }
    .manage-navbar .navbar .list-navbar ul{
        float: right;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone{
        display: block;

    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone .bi-list{
        font-size: 32px;
    }
    .manage-navbar .navbar {
        padding: 6px 25px;
    }
    .manage-content .content-center{
        padding-left: 10px;
        padding-right: 10px;
    }
    .manage-footer .footer-center .box-footer .title-footer .location-center{
        text-align: left;
    }
    .manage-footer .footer-center .box-footer .title-footer .none-device i{
        display: none;
    }
    .manage-footer .footer-center .box-footer{
        margin-bottom: 20px;
    }
    .manage-footer .footer-center .box-footer{
        background-color: rgba(0, 0, 0, 0.13);
        margin-bottom: 20px;
        padding: 25px 30px;
        border-radius: 20px;
    }
    .manage-footer .footer-center .box-footer:nth-child(2) .title-footer .location-center::before{
        width: 50%;
    }
    .manage-footer .footer-center .box-footer:hover .title-footer .location-center::before{
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 80%;
        background-color: transparent;
    }
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 70%;
    }
    .content-slide .box-slide .slide .slide-img .slide-text span{
        font-size: 50px;
        font-weight: 600;
    }
    .manage-content .box-content .bg-content .img-content{
        height: 250px;
    }
    .manage-navbar .navbar .list-navbar ul li{
        display: none;
    }
    .manage-navbar .navbar .list-navbar ul{
        float: right;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone{
        display: block;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone .bi-list{
        font-size: 32px;
    }
    .manage-footer .footer-center .box-footer{
        margin-bottom: 20px;
    }
    .manage-footer .footer-center .box-footer{
        background-color: transparent;
        margin-bottom: 20px;
        padding: 0px 25px;
        border-radius: 20px;
    }
    .manage-footer .footer-center .box-footer:nth-child(2) .title-footer .location-center::before{
        width: 50%;
    }
    .manage-footer .footer-center .box-footer:hover .title-footer .location-center::before{
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 90%;
    }
    .content-slide .box-slide .slide .slide-img .slide-text span{
        font-size: 50px;
        font-weight: 600;
    }
    .manage-footer .footer-center .box-footer .title-footer .location-center{
        text-align: center;
    }
    .manage-footer .footer-center .box-footer .title-footer .none-device i{
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-slide .box-slide .slide .slide-img .slide-text .manage-text-slide{
        max-width: 70%;
    }
    .content-slide .box-slide .slide .slide-img .slide-text span{
        font-size: 60px;
        font-weight: 600;
    }
    .manage-navbar .navbar .list-navbar ul .list-icon-phone{
        display: none;
    }
    .manage-navbar .navbar .list-navbar ul li{
        display: block;
    }
    .manage-navbar .navbar .list-navbar ul{
        float: left;
    }
    .manage-content .box-content .bg-content .img-content{
        height: 300px;
    }
    .manage-footer .footer-center .box-footer:nth-child(2) .title-footer .location-center::before{
        width: 100%;
    }
}